<div class="container d-flex align-items-center justify-content-center" style="height: 600px;">
    <div class="row">
        <h1 class="text-center pb-2 mb-2">Fetch GitHub repositories using username!</h1>
        <!-- <form #username="ngForm" (ngSubmit)="submit($event, username)"> -->

        <div class="col-lg-2"></div>
        <div class="form w-100 col d-flex flex-column justify-content-center">
            <form (submit)="submit(username)">
                <!-- <label for="username" class="form-label">Username</label> -->
                <div class="input-group mb-3">
                    <input type="text" #username required maxlength="39" class="form-control form-control-lg" name="username" placeholder="johnpapa" aria-label="Recipient's username" aria-describedby="button-addon2" ngModel>
                    <button class="btn btn-outline-dark" type="submit" id="button-addon2">Go</button>
                </div>
                <ng-container *ngIf="showLoadingIcon">
                    <div class="d-flex justify-content-center align-items-center">
                        <img width="25px" src="../../assets/tail-spin.svg" alt="">
                        <span class="ms-3 fs-5">Fetching Repositories</span>
                    </div>
                </ng-container>
                <ng-container *ngIf="showUserNotFoundIcon">
                    <span class="text-center align-center p-3">User Not Found</span>
                </ng-container>           
                <ng-container *ngIf="failsBasicValidn">Oops no user with username exists :(</ng-container>    
            </form>
        </div>
        <div class="col-lg-2"></div>
        
    </div>
</div>