<!-- <div style="width: 300px;" class="col-2 border border-2 border-info rounded-3 d-flex flex-column mx-2 mt-3 mb-3 p-3" *ngFor="let repo of repos">
    <a [href]="repo.html_url" target="_blank" class="pxy-2 mxy-2" rel="noopener noreferrer">{{ repo.name }}</a>

    <p class="border border-2 border-start-0 border-end-0 my-2 py-2">{{ repo.description }}</p>
    <div *ngIf="repo.description; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock><p class="border border-2 border-start-0 border-end-0 my-2 py-2">{{ repo.description }}</p></ng-template>
    <ng-template #elseBlock><p class="border border-2 border-start-0 border-end-0 my-2 py-2">No description for repository provided by user.</p></ng-template>


    <div class="tags d-flex flex-wrap">
        <span *ngFor="let lang of repo.languages" class="badge my-2 mx-1 rounded-pill text-bg-info">{{ lang }}</span>
    </div>
</div> -->